@use "base/variables" as v;
@use "base/mixins" as m;

.contacto {
  margin-top: 5rem;

  &__heading {
    margin-bottom: 2rem;
  }

  &__formas {
    display: grid;
    place-content: center;
  }

  &__forma {
    font-size: 2.5rem;
    color: darken(v.$gris, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__direccion {
    color: v.$azul;
  }
}
